<div class="btn-group">
  <p-button (onClick)="createTrip()" label="Crea Viaggio senza Tappe!"></p-button>
  <p-button (onClick)="createJourneysFromArray()" label="Crea Viaggio con Tappe!" icon="pi pi-fw pi-map-marker" severity="success"></p-button>
</div>

<div class="mappabtn">
<p-button icon="pi pi-fw pi-external-link" (onClick)="toggleMap()" label="Apri la Mappa!"></p-button>
</div>

<div *ngIf="isMapVisible" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="toggleMap()">&times;</span>
    <div id="map" style="width: 100%; height: 100%;"></div>
   </div>
</div>
