<div class="container">
  <h1>Continua con la creazione del Viaggio!</h1>

  <div class="section">
    <h2>Crea Viaggi</h2>
    <div class="btn-group">
      <p-button (onClick)="createTrip$()" label="Crea Viaggio senza Tappe!" icon="pi pi-fw pi-plus-circle" class="btn"></p-button>
      <p-button (onClick)="createJourneysFromArray()" label="Crea Viaggio con Tappe!" icon="pi pi-fw pi-map-marker" severity="success" class="btn"></p-button>
    </div>
  </div>

  <div class="section">
    <h2>Mappa</h2>
    <div class="mappabtn">
      <p-button icon="pi pi-fw pi-external-link" (onClick)="toggleMap()" label="Apri la Mappa!" class="btn"></p-button>
    </div>
  </div>
</div>


<div *ngIf="isMapVisible" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="toggleMap()">&times;</span>
    <div id="map" style="width: 100%; height: 100%;"></div>
   </div>
</div>
