<!-- journey-details.component.html -->

<div class="header">
    <h1>Dettagli delle tappe:</h1>
</div>
<div class="header">
  <h1>Sembra che non ci siano Tappe collegate a questo viaggio</h1>
</div>

<div class="container">
  <p-button (click)="toggleForm()">Add Journey</p-button>
  <div *ngIf="showForm" class="journey-form">
    <form #journeyForm="ngForm" (ngSubmit)="addJourney(journeyForm)">
      <div>
        <label for="destination">Destination:</label>
        <input id="destination" name="destination" ngModel required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="3" ngModel required></textarea>
      </div>
      <div class="form-button">
        <p-button type="submit" [disabled]="!journeyForm.valid">Save Journey</p-button>
      </div>
    </form>
  </div>
</div>
  
  <div class="journeys-container">
    <div *ngFor="let journey of journeys" class="journey-form-container">
      <form #journeyForm="ngForm" >
        <div class="form-row">
          <div>
            <label for="destination">Destinazione:</label>
            <input type="text" id="destination" name="destination" required [(ngModel)]="journey.destination.name">
          </div>
        </div>
        <div class="form-row">
          <div>
            <label for="description">Descrizione:</label>
            <input type="text" id="description" name="description" required [(ngModel)]="journey.description">
          </div>
        </div>
        <div class="form-button">
           <p-button label="Modifica" icon="pi pi-pencil" (onClick)="editJourney(journeyForm, journey)" ></p-button>
           <p-button label="Elimina" icon="pi pi-trash" severity="danger" (onClick)="deleteJourney(journey)"></p-button>
        </div>
      </form>
    </div>
  </div>
  